body{
    background-color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
}


.logo{
margin-top: 300px;
font-size: 40px;
}
.logo p{
    margin-top: -20px;
}

h1 span{
    font-size: 150px;
}

.google{
    display: flex;
    height: 50px;
    background-color: white;
    color: black;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    width: 180px;
    padding-left: 10px;
    margin-top: 600px;
    margin-left: -190px;
    
    

}

.google a{
    text-decoration: none;
    font-size: larger;
    margin-top: 6px;
    color: black;
    font-weight: 200;
    margin-left: 5px;
}