body{
    margin: 0;
}

#top{
    display: flex;
   font-size: 10px;
    align-items: center;
    background-color: black;
    height: 30px;
    color: white;
    padding: 8px;
    font-family: sans-serif;

}
.fon{
    padding: 12px;
    justify-content: center;
    text-align: center;
    
}

header span{
    font-size: 40px;
    color: red;
    font-family: serif;
}
.logo{
    display: block;
    margin-top: -20px;
    
}
#top h1{
    margin-bottom: -16px;
    
}

.search{
   margin-left: 16px;
   
}

.search input::placeholder
{
    color: rgba(105, 103, 103, 0.95);
    opacity: 1;
    font-size: 10px;
     font-family: sans-serif;
        padding-left: 4px;
        padding-bottom: 10px;
     
    
}
.search input{
   background-color: rgba(105, 103, 103, 0.4);
   border: none;
   padding: 10px;
   width: 170px;
   height: 3px;
   border-radius: 12px;

}
.up{
    color: white;


}

.right-top a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.right-top{
    font-size: 10px;
    margin-left: 400px;
    
}

a{
     text-decoration: none;
  
}

.log{
    border: 1px solid white;
    padding: 7px;
    border-radius: 10px;
    font-size: smaller;
}
.log:hover{
    background-color: white;
    color: black;
}
.haa{
     margin-top: 20px;
}

.haa a{
    color: white;
    padding: 5px;
    border-radius: 19px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: xx-small;
    margin-top: 20px;
    border: 1px solid white;
}
.haa a:hover{
    transition: 0.3s ease;
    margin-top: 60px;
    border: #dd00ff;
}
.emp{
     height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #ff8a00, #ff3cac, #7b2ff7);
}

.fon a{
    color: black;
    margin-left: 20px;
    font-weight: 1000px;
    transition: 0.5s ease;

}

.fon a:hover{
    border: 1px solid blac;
    background-color: rgba(211, 211, 211, 0.124);
    border-radius: 20px;
    padding: 8px;
    transition: 0.3s ease;
    
}

.next h1{
    font-family: "burkhan";
    font-size: 100px;

}

.nexx h1{
    font-family: "Akando";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 70px;
    font-weight: 100;
}
.font-par h1{
    font-weight: lighter;
    
}
.nex h1{
    font-family: "BOONE";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 30px;
    font-weight: 100;
}
.ne h1{
    font-family: "Vulcant";
    font-size: 60px;
    margin-top: -10px;
    margin-right: 90px;
    font-weight: 100; 
}
.ned h1{
    font-family: "TimelessMemoriesRegular";
    font-size: 35px;
    margin-right: -70px;
    font-weight: 300;
}


/* serif */
@font-face{font-family: "burkhan"; src: url("/fontfolder/Burkhan.otf");}
@font-face{font-family: "Akando"; src: url(/fontfolder/Seriffonts/Akando.otf);}
@font-face{font-family: "BOONE"; src: url(/fontfolder/Seriffonts/BOONE.otf);}
@font-face{font-family: "Vulcant"; src: url(/fontfolder/Seriffonts/Vulcant.otf);}
@font-face{font-family: "Goudi"; src: url(/fontfolder/Seriffonts/Goudi.TTF);}
@font-face{font-family: "TimelessMemoriesRegular"; src: url(/fontfolder/Seriffonts/TimelessMemoriesRegular-2vvwo.otf);}

/* sans serif */
@font-face{font-family: "Alkia"; src: url(/fontfolder/Sansseriffontsforfontwebsite/Alkia.ttf);}
@font-face{font-family: "Bileha"; src: url(/fontfolder/Sansseriffontsforfontwebsite/Bileha.otf);}
@font-face{font-family: "GenesizeGroteskDemo"; src: url(/fontfolder/Sansseriffontsforfontwebsite/GenesizeGroteskDemo.otf);}
@font-face{font-family: "Kormulator-T3"; src: url(/fontfolder/Sansseriffontsforfontwebsite/Kormulator-T3.ttf);}
@font-face{font-family: "QUICK-ZIP"; src: url(/fontfolder/Sansseriffontsforfontwebsite/QUICK-ZIP.otf);}
@font-face{font-family: "Rogbold-3llGM"; src: url(/fontfolder/Sansseriffontsforfontwebsite/Rogbold-3llGM.otf);}

/* Handwritten */
@font-face{font-family: "ArathevilBontegliar-KVVjX"; src: url(/fontfolder/Handwrittenfonts/ArathevilBontegliar-KVVjX.otf);}
@font-face{font-family: "Benyoritha-G334D"; src: url(/fontfolder/Handwrittenfonts/Benyoritha-G334D.otf);}
@font-face{font-family: "Danymeka-lxx2D"; src: url(/fontfolder/Handwrittenfonts/Danymeka-lxx2D.otf);}
@font-face{font-family: "GoldenAvocado-8OOlM"; src: url(/fontfolder/Handwrittenfonts/GoldenAvocado-8OOlM.otf);}
@font-face{font-family: "SiramanRegular-q22nq"; src: url(/fontfolder/Handwrittenfonts/SiramanRegular-q22nq.otf);}
@font-face{font-family: "Skrine"; src: url(/fontfolder/Handwrittenfonts/Skrine.otf);}


/*Display*/

@font-face{font-family: "Khalliban"; src: url(/fontfolder/Displayfonts/Khalliban.otf);}
@font-face{font-family: "Pokra"; src: url(/fontfolder/Displayfonts/Pokra.otf);}
@font-face{font-family: "SoulDaisy"; src: url(/fontfolder/Displayfonts/SoulDaisy.otf);}
@font-face{font-family: "Akrobat"; src: url(/fontfolder/Displayfonts/Akrobat.ttf);}
@font-face{font-family: "Blazeberg"; src: url(/fontfolder/Displayfonts/Blazeberg.otf);}
@font-face{font-family: "WaffleMango"; src: url(/fontfolder/Displayfonts/WaffleMango.ttf);}


.menu-btn {
  font-size: 26px;
  cursor: pointer;
  display: none; 
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background: black;
  border: 1px solid white;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.mobile-menu a{
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-family: sans-serif;
  border-bottom: 1px solid #222;
}


@media (max-width: 768px) {
   .right-top{
    display: none; 
  }

  .menu-btn {
    display: block; 
    margin-left: 20px;
  }
}

.Blazeberg h1{
    font-family: "Blazeberg";
    margin-top: -9px;
    margin-right: 60px;
    font-weight: 100;
    font-size: 50px;
}
.Pokra h1{
    font-family: "Pokra";
    font-weight: 100;
    font-size: 50px;
    margin-top: -10px;
    margin-right: 135px;
}
.WaffleMango h1{
    font-family: "WaffleMango";
    font-weight: 100;
    margin-top: -10px;
    margin-right: 8px;
    font-size: 42px;
}
.SoulDaisy h1{
    font-family: "SoulDaisy";
    font-weight: 100;
    font-size: 50px;
    margin-top: -5px;
    margin-right: -60px;
}
.Akrobat h1{
    font-family: "Akrobat";
    margin-right: -5px;
    font-size: 35px;
}

.Khalliban h1{
    font-family: "Khalliban";
    font-size: 50px;
    font-weight: 100;
    margin-top: -10px;
    margin-right: 154px;
}


.Benyoritha h1{
    font-family: "Benyoritha-G334D";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 153px;
    font-weight: 100;

}
.Skrine h1{
    font-family: "Skrine";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 160px;
    font-weight: 200;
}
.SiramanRegular h1{
    font-family: "SiramanRegular-q22nq";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 8px;
    font-weight: 100;
}


.GoldenAvocado h1{
    font-family: "GoldenAvocado-8OOlM";
    font-weight: 100;
    margin-right: -30px;
}


.Danymeka-lxx2D h1{
    font-family: "Danymeka-lxx2D";
    font-size: 75px;
    font-weight: 100;
    margin-top: -12px;
    margin-right: 30px;
}
.ArathevilBontegliar-KVVjX h1{
    font-family: "ArathevilBontegliar-KVVjX";
    margin-right: -0.5px;
    font-weight: 100;
    margin-top: 10px;
    font-size: 56px;
}
.T3 h1{
    font-family: "Kormulator-T3";
    font-size: 40px;
    margin-top: 10px;
    font-weight: 100;
    margin-right: -50px;
}
.Alkia h1{
    font-family: "Alkia";
       font-size: 50px;
    margin-top: 10px;
    font-weight: 100;
    margin-right: 80px
}
.Rogbold-3llGM h1{
    font-family: "Rogbold-3llGM";
    font-size: 51px;
    margin-top: 10px;
    font-weight: 100;
    margin-right: 30px;
}



.the-end{
     padding-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    border: 1px solid black;
    background-color: black;
   overflow: hidden;
}

.sec-las{
    background-color: gray;
    padding: 9px;
    width: 200px;
    margin-left: 420px;
    border-radius: 20px;
    margin-top: 20px;

}
.sec-las a{
    margin-left: 7px;
    color: rgb(210, 210, 210);
    font-family: sans-serif;
    font-size: x-small;
}


/* DMCA */
.Ma{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 4300;
    
}

.Ma p{
    width: 600px;
    font-size: xx-small;
    font-family: sans-serif;

}

.jjsm{
    font-family: sans-serif;
    font-weight: 100;
}

.down-fon a{
    color: white;
    margin-left: 20px;
    font-weight: 1000px;
    font-family: sans-serif;
    font-size: x-small;
    transition: 0.5s ease;
     margin-right: 20px;
}

.down-fon a:hover{
    border: 1px solid blac;
    outline: none;
    background-color: aliceblue;
    color: #000000;
    padding: 12px;
    border-radius: 20px;
}
.nesss h1{
    font-family: "GenesizeGroteskDemo";
    font-size: 60px;
    margin-top: 10px;
    font-weight: 100;
    margin-right: -80px;
}

.seds h1{
    font-family: "QUICK-ZIP";
    font-size: 39px;
    margin-top: 10px;
    margin-right: 30px;
}

.nede h1{
    font-family: "Bileha";
    font-size: 50px;
    margin-top: -10px;
    margin-right: 126px;
    font-weight: 100;
}
.fon-par{
    border: 1px solid black;
    padding: 12px 7px;
    height: 120px;
    margin-bottom: 20px;
    width: 740px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 150px;
}
.fir p:nth-child(2){
    margin-top: -12px;
    font-size: smaller;
    font-family: sans-serif;
    color: rgb(143, 142, 142);
}
.sec a:nth-child(1){
    border: 2px solid black;
    padding: 3px 10px;
    
    color: #000000;
   
  
   cursor: pointer;
    
}
#San-Serif{
    margin-top: 100px;
    margin-bottom: 20px

}
#San-Serif a{
     font-family: sans-serif;
 margin-top: -12px;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.sec a:nth-child(2){
    padding: 3px 10px;
    
    border: 2px solid #20b26b;
  color: #20b26b;
   
  
   cursor: pointer;
}

.sec{
   display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  font-family: Georgia, serif;

}
.fir p:nth-child(1){
    font-size: smaller;
    font-family: sans-serif;
    font-weight: 800;
}
.Jam{
      font-family: "Times New Roman", Georgia, serif;

}
.fir h1{
    margin-top: -10px;
    font-size: 40px;
    width: 400px;
    margin-right: -20px;
    font-family: "Garamond", "Palatino Linotype", serif;

}

.next h1{
    margin-top: -10px;
    font-size: 50px;
    width: 400px;
    margin-right: -20px;
    font-weight: 100;
}

.ser{
    font-family: serif;
}
.san{
    font-family: sans-serif;
}
.hand{
    font-family: "Dancing Script", cursive;
    font-style: italic;
}
.dis{

    font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.mon{
    font-family: "JetBrains Mono", monospace;
}
.fon{
    border: 1px solid black;
    padding-left: 12px;
    justify-content: space-between;
   
    gap: 10px;
    overflow: hidden;
}
.back-all h1{
    margin-top: -30px;
     background: linear-gradient(90deg, #dc2fff, #8800ff, #f4b134);
    -webkit-background-clip: text;
    font-weight: 800px;
    color: #fa3394;
    font-size: 50px;
}

.back-all-p{
   font-size: 27px;
   
   font-weight: 20px;
}
#p{
    font-size: x-small;
    font-family: "JetBrains Mono", monospace;
    margin-top: 30px;
}
.p span{
    font-weight: bolder;
}
.fonts{
     display: flex;
    justify-content: center;   /* centers horizontally */
    padding-top: 40px;
    margin-top: 100px;
   
    
}
.font-container{
    width: 750px;
}

.fonts h1:nth-child(1){
    color: black;
    text-decoration: wavy;
    font-size: larger;
    margin-left:inherit;


}
.logo{
    color: white;
}
.if{
      margin-bottom: 20px;
}

.if a{
    font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
    margin-top: -20px;
  color: #000000;
}
.fonts p{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
}
.p{
    margin-top: -30px;
    font-size: larger;

}


.back-all{
    border: 1px solid blac;
    background-color: #000000;
    color: white;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    height: 250px;
    padding-top: 200px;
    padding: 20px;
    background-image: url(/img/bg.svg);
    

}



/* media q */

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(220, 216, 216);
    position: absolute;
    overflow-x: hidden;
    font-size: smaller;
    width: 500px
  }
  .fon-par{
    border: 1px solid black;
    padding: 12px 7px;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
    width: 400px;
    display: block;
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 150px;
  }
  .fon-par h1 {font-size: 30px;}

  .GoldenAvocado h1 {margin-left: -15px }
  
.Skrine h1{
    font-size: 40px;
    margin-left: 50px;
    margin-right: 30px;
}


.Funny{
    -webkit-text-fill-color: #00000000;
font-family: sans-serif;

-webkit-text-stroke-color: #fff8f8;
    -webkit-text-stroke-width: 2px;
}


.SoulDaisy h1 {margin-left: -40px;}


  .sec{
    justify-content: center;
    text-align: center;
    margin-left: 125px;
    font-size: large;
  }

  .WaffleMango{margin-left: 30px;}
  .Pokra h1{margin-left: 10px; margin-right: -5px;}
  .Blazeberg h1{ margin-left: 80px;}
  .Khalliban h1{margin-left: 20px; font-size: 40px; margin-right: -10px;}
  .Siraman h1{margin-left: 50px;}


}